If:
  PathMatch: [
    build/.*,
    libs/.*,
  ]
CompileFlags:
  Remove: [
    -W*,
  ]
Diagnostics:
  ClangTidy:
    Remove: [
      clang-*,
      clang-diagnostic-*,
      clang-analyzer-*,
      performance-*,
      modernize-*,
      readability-*,
      mpi-*,
      openmp-*,
    ]

---

CompileFlags:
  Remove: [
    -fsycl-targets=spir64_gen,
    -fsycl-targets=nvptx64-nvidia-cuda,
    -fsycl-targets=amdgcn-amd-amdhsa
  ]
