# Run manually to reformat a file:
# clang-format -i --style=file <file>
Language: Cpp
BasedOnStyle: Google
IndentCaseLabels: false
# NOTE: clang-format 15 doesn't support AlignTrailingComments, need 16.
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
PointerAlignment: Left
DerivePointerAlignment: false
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 120
