Checks: ' -*
  clang-diagnostic-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-*,
  mpi-*,
  openmp-*,
  -modernize-return-braced-init-list,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -performance-move-const-arg,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -readability-named-parameter,
  -readability-redundant-declaration,
  -readability-function-cognitive-complexity'

HeaderFilterRegex: '(include|src)\/.*?\.(h|hpp|c|cpp)$'

FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMethodCase
    value: camelBack
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: lower_case
  - key: readability-identifier-naming.MemberSuffix
    value: _
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
