###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* -text

###############################################################################
# behavior for mesh files
#
# mesh files are treated as binary by default.
###############################################################################
*.cgns   binary

###############################################################################
# behavior for image files
#
# image files are treated as binary by default.
###############################################################################
*.jpg   binary
*.png   binary
*.gif   binary

docs/**    linguist-documentation
libs/**    linguist-vendored
utils/**   linguist-vendored
